::-webkit-scrollbar {
  display: none;
}

.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer{
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 85%;
  height: 80%;
  list-style: none;
  overflow: scroll;
}

.modal .modalContainer .close{
  margin-left: auto;
  width: fit-content;
}

.modal .modalContainer .close fa-icon{
  transition: 0.5s all;
  font-size: 1.2em;
  color: #888;
}

.modal .modalContainer .close fa-icon:hover{
  color: red;
  font-size: 1.32em;
}

.modalContainer .container{
  width: 95%;
  padding: 2%;
  padding-top: 1%;
  display: flex;
  color: white;
  transition: 0.5s all;
}

.modalContainer .container:hover{
  color: rgb(46, 255, 57);
}

.modalContainer .container .flecha{
  width: 5%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.modalContainer .container .flecha fa-icon{
  width: 100%;
  height: 100%;
}

.modalContainer .container .content{
  width: 95%;
  color: rgb(83, 83, 83);
  display: flex;
  margin: auto;
  transition: 0.5s all;
}

.modalContainer .container .content .left ,.right{
  margin-top: auto;
  margin-bottom: auto;
}

.modalContainer .container .content .right h1{
  font-size: 17px;
  margin-right: 5%;
}

.modalContainer .container .content .left{
  width: 30%;
  margin-left: 5%;
  display: flex;
  /*border-right: solid 1px grey;*/
}

.modalContainer .container .content .right{
  text-align: right;
  width: 70%;
}

.ocupada{
  border-bottom: solid 2px red;
}

.oc{
  color: white;
}

.disponible{
  border-bottom: solid 2px rgb(206, 206, 206);
}

.disponible:hover{
  border-bottom: solid 2px rgb(46, 255, 57);
}
