<div class="modal">
  <div class="modalContainer">
    <div class="close">
      <fa-icon [icon]="closeIcon" (click)="closeModal()"></fa-icon>
    </div>
    <li>
      <div class="container" *ngFor="let moto of motos" (click)="openModalCliente(moto.id, moto.estado, moto.cliente)">
        <div class="flecha">
          <fa-icon [icon]="flechaIcono" [ngClass]="{'oc': moto.estado!='disponible'}" style="font-size:1.4em"></fa-icon>
        </div>
        <div class="content" [ngClass]="{'ocupada': moto.estado!='disponible', 'disponible': moto.estado=='disponible'}">
          <div class="left">
            <span style="font-weight: 600; margin-right: 3px;">{{moto.id}}</span>
            <fa-icon [icon]="motoIcono" [ngClass]="{'o': moto.estado!='disponible', 'a': moto.estado=='disponible'}"></fa-icon>
          </div>
          <div class="right">
            <h1>Estado: <span>{{moto.estado}}</span></h1>
         </div>
        </div>
      </div>
    </li>
  </div>
</div>

<app-modal-cliente *ngIf="modalCliente == true" [intervalo]="intervalo" [estado]="estado" [id]="id" [cliente]="cliente"></app-modal-cliente>

