<div class="body">
  <div class="container">
    <button (click)="closeModal()">x</button>
    <li>
      <div class="cont" *ngFor="let moto of motos" [ngClass]="{'ocupada': moto.estado!='disponible'}" (click)="openModalCliente(moto.id, moto.estado, moto.cliente)">
        <div class="left">
         <h1>Moto: <span>{{moto.id}}</span> </h1>
        </div> 
        <div class="right">
          <h1>Estado: <span>{{moto.estado}}</span></h1>
       </div>
      </div>
    </li>
  </div>
</div>

<app-modal-cliente *ngIf="modalCliente == true" [intervalo]="intervalo" [estado]="estado" [id]="id" [cliente]="cliente"></app-modal-cliente>

