<div class="body">
  <div class="container">
  <button (click)="closeModal()">x</button>
    <li>
        <div class="cont">
            <div class="left">
                <h1>Moto: <span>8</span> </h1>
            </div>
            <div class="right">
                <h1>Estado: <span>Libre</span></h1>
            </div>
        </div>
        <div class="cont ocupada">
            <div class="left">
                <h1>Moto: <span>8</span> </h1>
            </div>
            <div class="right">
                <h1>Estado: <span>Ocupada</span></h1>
            </div>
        </div>
    </li>
  </div>
</div>
