<div class="modal">
  <div clasS="modal-content">
    <div>
      <div class="header">
        <h2>Ingrese la clave</h2>
        <div>
          <fa-icon [icon]="closeIcon" style="font-size: 1.4em;" (click)="closeModal()"></fa-icon>
        </div>
      </div>
    </div>
    <div class="body">
      <div>
        <input type="text" id="input" value="cliente..." name="input" #input>
        <fa-icon [icon]="exclamationIcon" [ngClass]="{'invalid': invalid, 'nn': !invalid}"></fa-icon>
      </div>
      <button (click)="validacion(input.value)">RESERVAR</button>
    </div>
  </div>
</div>
