.cont{
    width: 70%;
    height: 50px;
    display: flex;
    margin: auto;
    border: solid 2px grey;
    border-radius: 25px;
}

.left ,.right{
    margin-top: auto;
    margin-bottom: auto;
}

.left h1, .right h1{
    font-size: 17px;
    margin-right: 5%;
}

.left{
    width: 30%;
    margin-left: 5%;
    border-right: solid 1px grey;
}

.right{
    text-align: right;
    width: 70%;
}
